{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="container mx-auto max-w-5xl">
        <h1 class="penix">
            {{ number }}
        </h1>
    </div>
{% endblock %}
