<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                <div class="bg-center-image bg-darkened-image" style="background-image: url('{{ asset('media/images/IMG_sunrise_hd.jpg') }}')">
                    <div class="container max-w-5xl mx-auto">
                        <h1 class="relative z-10">{% block h1 %}My new Website{% endblock %}</h1>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
    </body>
</html>
