<div class="group bg-mint rounded-lg p-5 mx-3 text-dark hover:bg-capri hover:shadow-lg transform hover:scale-105 transition duration-300 ease-in-out">
    <div class="bg-center-image text-white -m-5 mb-5 p-5 rounded-t-lg h-24" style="background-image: url('{{ card_image }}');">
        <h3 class="text-2xl absolute bottom-5 left-5">{{ card_title }}</h3>
    </div>
    <p class="group-hover:text-white">
        {{ card_text }}
    </p>
</div>
